/* color scheme:
5: 0e0c19
4: 01306d
3: 17479e
2: 7faaf4
1: f4e7e9
*/
* {
	font-family: Arial;
	margin: 0;
	padding: 0;
}
body {
	display: grid;
	background-color: #f1f1f2; /*#f8f1e5;*/
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 50% 50%;
	grid-template-areas: "definition uploadSelf chooseExisting"
						 "definition uploadSelf sharecode";
}
#canvas {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	z-index: -1;
}
#definition {
	color: black;
	padding: 25% 5% 0 25%;
	grid-area: definition;
}
#chooseExisting {
	color: black;
	padding: 25% 25% 0 0;
	grid-area: chooseExisting;
}
#sharecode {
	color: black;
	padding: 10% 25% 0 0;
	grid-area: sharecode;
}
#uploadSelf {
	color: black;
	padding: 25% 0 0 0;
	grid-area: uploadSelf;
}
#submitBtn {
	color: white;
	background-color: #2f496e;/*#01306d;*/
	border-radius: 5px 5px 5px 5px;
	padding: 5% 10% 5% 10%;
	text-align: center;
}
em {
	background-color: #0e0c19;
}
#upload {
	float: left;
	display: grid;
	grid-template-columns: 33% 33 34%;
	grid-template-rows: 100%;
	grid-template-areas: "uploadForm phpResult phpResult";
	grid-area: upload;
	background-color: #7faaf4;
}

