/* color scheme:
5: 0e0c19
4: 01306d
3: 17479e
2: 7faaf4
1: f4e7e9
*/
* {
	font-family: Arial;
	margin: 0;
	padding: 0;
	color: white;
}
body {
	display: grid;
	background-color: #f1f1f2;
	grid-template-columns: 82% 18%;
	grid-template-rows: 100%;
	grid-template-areas: "visBlock controlPanel";
}
em {
	background-color: #0e0c19;

}
#controlPanel {
	border-radius: 0px, 0px, 0px, 0px;/*15px 15px 15px 15px;  #f8f1e5;*/
	margin: 0% 0% 0% 0;
	grid-area: controlPanel;
	background-color: #2f496e;

}
#visBlock {
	color: #000;
	grid-area: visBlock;
	display: grid;
	background-color: #f1f1f2;
	grid-template-columns: 100% 0% 0%;
	grid-template-rows: 100%;
	grid-template-areas: "matrix nodelink chord";
}
#visBlock #matrix {
	grid-area: matrix;
}
#visBlock #nodelink {
	grid-area: nodelink;
}
#visBlock #chord {
	grid-area: chord;
}